{% extends "OGIVEAlertBundle::layout.html.twig" %}
{% block title %}Les suivis spécialisés{% endblock %}

{% block sub_header %}
    {{parent()}}
    <div id="second_computer_top_nav" class="ui computer_top_nav inverted main menu" style="background-color: #eeeeee; position: fixed;
         top: 70px; left: 0; right: 0; height:4em;">
        <div class="ui container">
            <div class="ui left inverted secondary menu">
                <a id="document_title" class="item">
                    <h3>Liste des suivis spécialisés & Marketing</h3>
                </a>
            </div>

            <div class="ui right inverted secondary menu">
                <div id='show_list_table' class="ui circular icon button item" data-tooltip="Afficher sous forme de liste" data-position="bottom center" data-inverted="">
                    <i class="large list layout icon"></i>
                </div>
                <a class="ui circular icon button item">
                    <i class="large trash icon"></i>
                </a>
                <a class="ui circular icon button item">
                    <i class="large folder icon"></i>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    {% include('OGIVEAlertBundle:specialFollowUp:grid.html.twig') %} 
    {% include('OGIVEAlertBundle:specialFollowUp:list.html.twig') %}
{% endblock %}
{% block block_add_new %}
    {% include('OGIVEAlertBundle:specialFollowUp:new.html.twig') %}
{% endblock %}

{% block block_edit %}
    <div id="edit_specialFollowUp_content">

    </div>
{% endblock %}

{% block block_sms %}
    <div id="send_special_follow_up_content">

    </div>
{% endblock %}

{% block block_confirmation_modal %}
    <div id="confirm_delete_specialFollowUp" class="ui small modal">
        <i class="close icon"></i>
        <div class="header">
            Confirmation de la suppression
        </div>
        <div class="content">
            <p>Vous êtes sur le point de supprimer cette attribution.</p>
            <p>Voulez-vous vraiment réaliser cette action ?</p>
        </div>
        <div class="actions">
            <div class="ui red deny button">
                Non
            </div>
            <div id="execute_delete_specialFollowUp"  class="ui green right labeled icon button">
                Oui
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
    <div id="confirm_enable_specialFollowUp" class="ui small modal">
        <i class="close icon"></i>
        <div class="header">
            Confirmation de l'activation
        </div>
        <div class="content">
            <p>Vous êtes sur le point d'activer cette attribution. </p>
            <p>Voulez-vous vraiment réaliser cette action ?</p>
            {#<div class='ui form'>
                <div class="field" >
                    <div class="ui checkbox">
                        <input id='checkbox_send_confirmation' type="checkbox" name="new_specialFollowUp" >
                        <label> Notifier l'abonné d'un premier abonnement</label>
                    </div>
                </div>
                <div class="field" >
                    <div class="ui checkbox">
                        <input id='checkbox_send_confirmation' type="checkbox" name="renewal_specialFollowUp" >
                        <label> Notifier l'abonné d'un renouvellement de l'abonnement</label>
                    </div>
                </div>
            </div>#}
        </div>
        <div class="actions">
            <div class="ui red deny button">
                Non
            </div>
            <div id='execute_enable_specialFollowUp' class="ui green right labeled icon button">
                Oui
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
    <div id="confirm_disable_specialFollowUp" class="ui small modal">
        <i class="close icon"></i>
        <div class="header">
            Confirmation de la désactivation
        </div>
        <div class="content">
            <p>Vous êtes sur le point de désactiver cette attribution. </p>
            <p>Voulez-vous vraiment réaliser cette action ?</p>
        </div>
        <div class="actions">
            <div class="ui red deny button">
                Non
            </div>
            <div id='execute_disable_specialFollowUp' class="ui green right labeled icon button">
                Oui
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent()}}
    <script type="text/javascript" src="{{ asset('bundles/ogivealert/js/specialFollowUp.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ogivealert/js/send_special_follow_up.js')}}"></script>
{% endblock %}