<header> 
    <div class="ui mobile_top_nav top inverted fixed main menu" style="background-color: #4285f4; display: none">
        <div class="ui container">
            <div class="ui left inverted secondary menu">
                <a class="mobile_menu item"><i class="large sidebar icon"></i></a>
                <a  id="logo_mobile_menu" class="item">
                    ALERT M.P
                </a>
            </div>
            <div class="ui right inverted secondary menu">
                <a href="{{path('fos_user_security_login')}}" class="ui button item">
                    <i class="sign in icon"></i>
                    Se connecter
                </a>
            </div>
        </div>
    </div>
    <div id="first_computer_top_nav" class="ui computer_top_nav top inverted fixed main menu" style="background-color: #4285f4;">
        <div class="ui left inverted secondary menu">
            <a class="mobile_menu disabled item"><i class="large sidebar icon"></i></a>
            <a id="logo_computer_menu" class="item">
                ALERT M.P
            </a>
        </div>
        {%if not app.user %}
            <div class="ui right inverted secondary menu">
                <a href="{{path('fos_user_security_login')}}" class="ui button item">
                    <i class="sign in icon"></i>
                    Se connecter
                </a>
            </div>
        {% endif %}
    </div>
</header>