{% extends "::base.html.twig" %}

{% block title %}{% endblock %}

{% block body %}
    {% include('OGIVEUserBundle::header.html.twig') %}
    <div class="ui bottom attached segment pushable">
        <div class="pusher">               
            {% block login_content %}
            {% endblock login_content %}            
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent()}}
    <script type="text/javascript" src="{{ asset('bundles/ogivealert/js/main.js')}}"></script>
{% endblock %}