body{
    height: auto;
}

html{
    background: #fafafa;
}

body, a, p, h1, div, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI Light", "Segoe UI", Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif!important;
}

.pushable>.pusher{
    background-color: #fafafa;
    padding-bottom: 3em;
    min-height: 40em;
}

.computer_top_nav.menu.main{
    height: 5em;
}

.ui.computer_top_nav.top.inverted.fixed.main.menu .ui.container .left.menu{
    margin-right: 10rem!important;
}

@media only screen and (max-width: 1000px) {
    .ui.computer_top_nav.top.inverted.fixed.main.menu .ui.container .left.menu{
        margin-right: 3em!important;
    }

    .ui.inverted.secondary.pointing.menu .item {
        font-size: 0.8em!important;
    }

    #logo_computer_menu .ui.tiny.image{
        width: 50px !important;
    }

    .ui.right.secondary.inverted.menu .item{
        font-size: 0.8em;
    }
    
    /*.flexslider .slides .flex-caption {
        left: 15em!important;
        right: auto!important;
        bottom: 10em!important;
    }*/
}

.ui.inverted.secondary.pointing.menu .item {
    margin-left:1rem;
    margin-right: 1rem;
    height: 5em;
    text-transform: uppercase;
    font-size: 1rem;
    /*font-family: Arial, Helvetica, sans-serif!important;*/
    font-family: "Segoe UI Light", "Segoe UI", Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
}

@media only screen and (max-width: 750px) {
    .computer_top_nav.menu.main {
        display: none;
    }

    .mobile_top_nav.menu.main {
        display: flex !important;
    }

    #computer_steps{
        display: none;
    }

    #mobile_steps{
        display: flex !important;
    }

    .ui.bottom.attached.segment.pushable {
        margin-top: 3.8em!important;
    }
}

@media only screen and (max-width: 770px) {
    .flexslider .slides .flex-caption {
        position: static!important;
        display: block!important;
    }
    
    .flexslider .slides .flex-caption .main {
        font-size: 14px!important;
        max-width: 100%!important;
        display: block!important;
        margin-bottom: 0!important;
    }

    .flexslider .slides .flex-caption .secondary {
        font-size: 13px!important;
        max-width: 100%!important;
        display: block!important;
    }
}

/*@media only screen and (max-width: 550px) {
    .flexslider .slides .flex-caption {
        display: none!important;
    }
}*/
    

.pushable {
    height: auto!important;
    /*background: transparent;*/
}
.ui.bottom.attached.segment.pushable {
    margin-top: 8.9em;
}

.ui.attached.segment{
    border: none;
}

div#home img{
    max-height: 38em;
}

div#home{
    max-height: 40em;
}

.ui.doubling.stackable.grid .column .column_content{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}

.ui.doubling.stackable.grid .column{
    /*padding-top:9em;*/
}

#logo_computer_menu .ui.tiny.image{
    width: 60px;
    height: auto;
    font-size: .85714286rem;
}

#logo_mobile_menu .ui.tiny.image{
    width: 32px;
    height: auto;
    font-size: .85714286rem;
}


.flexslider .slides .flex-caption {
    position: absolute;
    left: 11rem;
    right: auto;
    bottom: 14rem;
    top: auto;
    color: #ffffff;
    display: inline-block;
}

.flexslider .slides .flex-caption .main {
    display: inline-block;
    background: rgba(231, 62, 31, 0.8);
    margin-bottom: 5px;
    padding: 10px 15px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    max-width: 38em;
}

.flexslider .slides .flex-caption .secondary {
    display: inline-block;
    background: rgba(0, 0, 0, 0.8);
    padding: 5px 15px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    max-width: 38em;
}

.ui.secondary.inverted.pointing.menu .active.item {
    border-color: #f7aa1a;
}

.ui.secondary.inverted.menu .active.item {
    background: rgba(255,255,255,.15);
    color: #ffffff!important;
}

.ui.inverted.secondary.pointing.menu .item:hover{
    color: #f7aa1a!important;
}

.ui.secondary.inverted.menu a.item:hover {
    background: transparent;
    color: #ffffff!important;
}

.flex-control-paging li a.flex-active {
    background: #f7aa1a!important;
    cursor: default;
}

#apropos{
    background: #ffffff;
    min-height: 30em;
    margin-bottom: 4em;
    box-shadow: none;
    box-shadow: 0 1px 1px 0 #D4D4D5,0 0 0 0px #D4D4D5;
}

.ui.centered.card .content h2.header{
    /*font-size: 2em;
    margin-bottom: 1.5em;*/
}

#apropos .ui.centered.card{
    width: 100%;
    height: auto;
    border-radius: 0;
    box-shadow: none;
}

.ui.centered.card .first.content {
   /* background: #fabd2b;*/
}   


#apropos .ui.centered.card .content{
    border-top:none;
}

p{
    font-size: 18px;
}

.ui.centered.card .image{
    background: white;
}

.ui.card{
    border-radius: 0;
}

#steps{
    background: #ffffff;
    margin-bottom: 4em;
    box-shadow: 0 1px 1px 0 #D4D4D5,0 0 0 0px #D4D4D5;
}

#steps .ui.centered.card{
    width: 100%;
    /*height: 80%;*/
    border-radius: 0;
    box-shadow: none;
}

#steps .ui.centered.card .content{
    border-top:none;
}

.ui.huge.steps .link.step{
    width: 25%;
}


#demo{
    background: #ffffff;
    margin-bottom: 4em;
    box-shadow: 0 1px 1px 0 #D4D4D5,0 0 0 0px #D4D4D5;
    height: 30em;
}

#demo .ui.centered.card{
    width: 100%;
    height: 80%;
    border-radius: 0;
    box-shadow: none;
}

#demo .ui.centered.card .content{
    border-top:none;
}

#demo .ui.centered.card .content iframe{
    width: 100%;
    height: 25em;
}


#contact{
    background-color: #ffffff;
    margin-bottom: 2em;
    box-shadow: 0 1px 1px 0 #D4D4D5,0 0 0 0px #D4D4D5;
}

#contact .ui.centered.card{
    width: 100%;
    height: 100%;
    border-radius: 0;
    box-shadow: none;
}

#contact .ui.centered.card .form_content.content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

canvas{
    display:none;
}

#content_posts .ui.card{
    width: 100%;
    border-radius: 0;
    box-shadow: 0 1px 1px 0 #D4D4D5,0 0 0 0px #D4D4D5;
}

#single_post .ui.card{
    width: 100%;
    border-radius: 0;
    box-shadow: 0 1px 1px 0 #D4D4D5,0 0 0 0px #D4D4D5;
}

#content_posts .ui.card .image>img{
    width: 100%;
    /*height: 20em;*/
}


#footer{
    margin-bottom: 0px;
    margin-top: 0px;
    border-radius: 0;
}

.ui.fluid.card .image>img {
    border-radius: 0;
}

.ui.fluid.card{
    /*box-shadow: none;*/
}

.ui.card{
    /*box-shadow: none;*/
}

.ui.button{
    border-radius: 0;
}

.ui.form input[type=email], .ui.form input[type=text], .ui.form input[type=email], .ui.form input[type=password], .ui.form input[type=date], .ui.form input[type=time], select, .ui.form textarea{
    border-radius: 0;
}

.ui.orange.button, .ui.orange.buttons .button {
    background-color: #fabd2b;
}

.ui.input input, .ui.input .ui.orange.button  {
    border-radius: 0;
}

#sidebar_blog .ui.card{
    width: 100%;
}

#modal_subscribe.ui.modal{
    /*width: 40em;*/
}

.ui.secondary.menu .dropdown.item>.menu{
    margin-top: 0.7em;
    border-radius: 0px;
    background-color: #ffffff;
    color: black;
}

.ui.menu .ui.dropdown .menu>.item{
    color: black!important;
}

.ui.menu .ui.dropdown .menu>.item:hover{
    color: #000000!important;
}


.ui.dropdown .menu>.divider {
    border-top: 1px solid rgba(0, 0, 0, 0.77);
}

.ui.menu .ui.dropdown .menu>.item .icon:not(.dropdown) {
    font-size: 2em!important;
}


.ui.modal>.close {
    color: #1b1c1d;
}

.ui.dimmer {
    background-color: rgba(255, 255, 255, 0.75);
}

.ui.modal>.close {
    top: 0.2rem;
    right: 0.2rem;
    font-size: 1em;
}

.ui.card>:first-child   {
    border-radius: 0!important
}

.ui.search .prompt{
    border-radius: 0.3rem;
}

.ui.menu .item>.input input{
    height: 3em;
}

.ui.search.item{
    width: 48em;
}

.ui.computer_top_nav .ui.left.inverted.secondary.menu{
    margin-left: 1em;
}

.ui.computer_top_nav .ui.right.inverted.secondary.menu{
    margin-right: 1em;
}

#logo_computer_menu {
    font-size: 22px;
    font-weight: bold;
}

/*#first_computer_top_nav .ui.secondary.inverted.menu a.item {
    color: rgb(255, 255, 255)!important;
}*/

#second_computer_top_nav .ui.secondary.inverted.menu .item {
    color: black!important;
}

#second_computer_top_nav.ui.menu{
    background-color: #eeeeee;
    position: fixed;
    left: 0;
    right: 0;
    top:70px;
    z-index: 2;
    height:4em;
    border-radius: 0;
}

#second_computer_top_nav.ui.computer_top_nav.inverted.main.menu{
    /*background-color: #eeeeee;*/
}

#second_computer_top_nav.ui.menu{
    margin: 0;
}

body.pushable {
    background: #fafafa!important;
}
body.pushable>.pusher {
    background: #fafafa;
}

.float_button.ui.red.button{
    bottom: 45px;
    cursor: pointer;
    position: fixed;
    right: 22px;
    z-index: 2;
    box-shadow: 0px 2px 10px rgba(0,0,0,.3), 0px 0px 1px rgba(0,0,0,.1), inset 0px 1px 0px rgba(255,255,255,.25), inset 0px -1px 0px rgba(0,0,0,.15);
}

.ui.menu .ui.dropdown .menu>.item {
    color: black!important;
}

.ui.vertical.accordion.following.inverted.sidebar.menu {
    background: #ffffff;
}

.ui.inverted.accordion .title:not(.ui) {
    color: rgb(0, 0, 0);
}

.ui.vertical.inverted.menu .menu .item{
    color: rgb(0, 0, 0);
}

.sidebar_title.item{
    color: rgb(0, 0, 0)!important;
    font-size: 26px;
    font-weight:bold; 
}

.item .title>a{
    color: rgb(0, 0, 0)!important;
}

.ui.floating.label {
    top: 0em;
    left: 80%;
}

.login_contenair .ui.card {
    width: 25em;
    margin-top: 2em;
}

.singup_contenair .ui.card {
    width: 40em;
}

.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}

.box.has-advanced-upload {
  background-color: white;
  outline: 2px dashed black;
  outline-offset: -10px;
}
.box.has-advanced-upload .box_dragndrop {
  display: inline;
}

.ui.message{
    border-radius: 0;
}

a.ui.dropdown{
    color: #999999;
}

.ui.sidebar.menu .item:hover {
    background-color: #4285f4;
}

.ui.sidebar.menu .sidebar_title.item:hover {
    background-color: white;
}

.ui.sidebar.menu .item>a.title:hover {
    color: white;
}

.sidebar_title.item{
    font-weight: bold;
}

.ui.sidebar.menu .item>a.title{
    color: black;
    font-weight: bold;
}
.ui.sidebar.menu .item>.title{
    color: black;
    font-weight: bold;
}

.ui.sidebar.menu .sidebar_title.item{
    font-weight: bold;
}

.ui.sidebar.menu .item>.menu>a{
    font-weight: bold;
}

.ui.sidebar.menu .item>.menu>a:hover {
    background-color: white!important;
    color: black!important;
}