{% extends "OGIVEAlertBundle::layout.html.twig" %}
{% block title %}Les appels d'offres{% endblock %}

{% block sub_header %}
    <div id="second_computer_top_nav" class="ui computer_top_nav inverted main menu" >
        <div class="ui container">
            <div class="ui left inverted secondary menu">
                <a id="document_title" class="item">
                    <h3>Les appels d'offre</h3>
                </a>
            </div>

            <div class="ui right inverted secondary menu">
                <a id='show_list_table' class="ui circular icon button item">
                    <i class="large list layout icon"></i>
                </a>
                <a class="ui circular icon button item">
                    <i class="large trash icon"></i>
                </a>
                <a class="ui circular icon button item">
                    <i class="large folder icon"></i>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    
   {% include('OGIVEAlertBundle:callOffer:grid.html.twig') %} 
   {% include('OGIVEAlertBundle:callOffer:list.html.twig') %}
{% endblock %}
{% block button_add_new %}
    {% include('OGIVEAlertBundle:callOffer:new.html.twig') %}
{% endblock %}
