<tr>
    <td>
        <div class="ui ribbon label">{{domain.name}}</div>
    </td>
    <td>{{domain.description}}</td>
    <td class="right aligned">
        <div class="ui dropdown item">
            <i class="ellipsis vertical icon"></i>
            <div class="menu">
                <div class="item">
                    <i class="edit icon"></i>
                    Modifier
                </div>
                <div class="item">
                    <i class="trash icon"></i>
                    Supprimer
                </div>
            </div>
        </div>
    </td>
</tr>