<div id="edit_domain" class="ui small modal">
    <i class="close icon"></i>
    <div class="header">
        Modification du domaine
    </div>
    <div class="content">
        <form id="edit_domain_form" class="ui form">
            <div class="field">
                <label class="left aligned">Nom du domaine</label>
                <input type="text" name="name" placeholder="Nom du domaine">
            </div>
            <div class="field">
                <label class="left aligned">Description</label>
                <textarea name="description" placeholder="Description du domain"></textarea>
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            Annuler
        </div>
        <div id='submit_domain' class="ui primary icon button">
            <i class="save icon"></i>
            Sauvegarder
        </div>
    </div>
</div>