<div id='list_as_grid' class="ui basic segment container">
    <div class="ui four column doubling stackable grid">
        <div class="column">
            <div class="ui fluid card">
                
                <div class="content">
                    <div class="header">Titre</div>
                    <div class="description">
                        Description du domain
                    </div>
                </div>
                <div class="extra content">
                    <div class="right floated">
                        <div class="ui dropdown item">
                            <i class="ellipsis vertical icon"></i>
                            <div class="menu">
                                <div class="item">
                                    <i class="edit icon"></i>
                                    Modifier
                                </div>
                                <div class="item">
                                    <i class="trash icon"></i>
                                    Supprimer
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui fluid card">
                <div class="content">
                    <div class="header">Titre</div>
                    <div class="description">
                        Description du domaine
                    </div>
                </div>
                <div class="extra content">
                    <div class="right floated">
                        <div class="ui dropdown item">
                            <i class="ellipsis vertical icon"></i>
                            <div class="menu">
                                <div class="item">
                                    <i class="edit icon"></i>
                                    Modifier
                                </div>
                                <div class="item">
                                    <i class="trash icon"></i>
                                    Supprimer
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui fluid card">
                <div class="content">
                    <div class="header">Titre</div>
                    <div class="description">
                        Description du domain
                    </div>
                </div>
                <div class="extra content">
                    <div class="right floated">
                        <div class="ui dropdown item">
                            <i class="ellipsis vertical icon"></i>
                            <div class="menu">
                                <div class="item">
                                    <i class="edit icon"></i>
                                    Modifier
                                </div>
                                <div class="item">
                                    <i class="trash icon"></i>
                                    Supprimer
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui fluid card">
                
                <div class="content">
                    <div class="header">Titre</div>
                    <div class="description">
                        Description du domaine
                    </div>
                </div>
                <div class="extra content">
                    <div class="right floated">
                        <div class="ui dropdown item">
                            <i class="ellipsis vertical icon"></i>
                            <div class="menu">
                                <div class="item">
                                    <i class="edit icon"></i>
                                    Modifier
                                </div>
                                <div class="item">
                                    <i class="trash icon"></i>
                                    Supprimer
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui fluid card">
                
                <div class="content">
                    <div class="header">Titre</div>
                    <div class="description">
                        Description du domaine
                    </div>
                </div>
                <div class="extra content">
                    <div class="right floated">
                        <div class="ui dropdown item">
                            <i class="ellipsis vertical icon"></i>
                            <div class="menu">
                                <div class="item">
                                    <i class="edit icon"></i>
                                    Modifier
                                </div>
                                <div class="item">
                                    <i class="trash icon"></i>
                                    Supprimer
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>