{% extends "OGIVEAlertBundle::layout.html.twig" %}
{% block title %}Les domaines{% endblock %}

{% block sub_header %}
    {{parent()}}
    <div id="second_computer_top_nav" class="ui computer_top_nav inverted main menu" style="background-color: #eeeeee; position: fixed;
         top: 70px; left: 0; right: 0; height:4em;">
        <div class="ui container">
            <div class="ui left inverted secondary menu">
                <a id="document_title" class="item">
                    <h3>Liste des domaines</h3>
                </a>
            </div>

            <div class="ui right inverted secondary menu">
                <div id='show_list_table' class="ui circular icon button item" data-tooltip="Afficher sous forme de liste" data-position="bottom center" data-inverted="">
                    <i class="large list layout icon"></i>
                </div>
                <a class="ui circular icon button item">
                    <i class="large trash icon"></i>
                </a>
                <a class="ui circular icon button item">
                    <i class="large folder icon"></i>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    {% include('OGIVEAlertBundle:domain:grid.html.twig') %} 
    {% include('OGIVEAlertBundle:domain:list.html.twig') %}
{% endblock %}
{% block block_add_new %}
    {% include('OGIVEAlertBundle:domain:new.html.twig') %}
{% endblock %}

{% block block_edit %}
    <div id="edit_domain_content">

    </div>
{% endblock %}
{% block block_delete_modal %}
    <div id="confirm_delete_domain" class="ui modal">
        <i class="close icon"></i>
        <div class="header">
            Confirmation de la suppression
        </div>
        <div class="content">
            <div class="description">
                <p>Voulez-vous vraiment supprimé ce domaine ?</p>
            </div>
        </div>
        <div class="actions">
            <div class="ui black deny button">
                Non
            </div>
            <div i class="ui green right labeled icon button">
                Oui
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent()}}
    <script type="text/javascript" src="{{ asset('bundles/ogivealert/js/domain.js')}}"></script>
    <script>
        function addSubDomainForm($collectionHolder, $newLinkTr) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var $newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a subDomain" link li
            var $newFormTr = $('<tr></tr>').append($newForm);
            $newLinkTr.before($newFormTr);
            
            addSubDomainFormDeleteLink($newFormTr);
        }

        function addSubDomainFormDeleteLink($subDomainFormTr) {
            var $removeFormA = $('<td class="right aligned"><button class="ui red compact icon button" data-tooltip="Supprimer" data-position="bottom center" data-inverted="" data-variation="mini"><i class="trash icon"></i></button></td>');
            $subDomainFormTr.append($removeFormA);
            $removeFormA.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the subDomain form
                $subDomainFormTr.remove();
            });
        }

        var $collectionHolder;

        // setup an "add a subDomain" link
        var $addSubDomainLink = $('<button class="ui primary button" ><i class="add user icon"></i> Ajouter</button>');
        var $newLinkTr = $('<tr></tr>').append($addSubDomainLink);

        jQuery(document).ready(function () {
            /******** suppression des subDomains *********/
            // Get the ul that holds the collection of subDomains
            $collectionHolder = $('tbody.subDomains');

            // add a delete link to all of the existing subDomain form li elements
            $collectionHolder.find('tr').each(function () {
                addSubDomainFormDeleteLink($(this));
            });


            /******** Ajout des subDomains *********/

            // Get the ul that holds the collection of subDomains
            $collectionHolder = $('tbody.subDomains');

            // add the "add a subDomain" anchor and li to the subDomains ul
            $collectionHolder.append($newLinkTr);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addSubDomainLink.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new subDomain form (see next code block)
                addSubDomainForm($collectionHolder, $newLinkTr);
            });
        });
    </script>
{% endblock %}