<div id='list_as_table' class="ui basic segment container">
    <table class="ui very basic table">
        <thead>
            <tr><th>Entreprise</th>
                <th>Numéro de téléphone</th>
                <th>Date d'envoi</th>
                <th>Coût</th>
                <th>Statut</th>
            </tr>
        </thead>
        <tbody id='list_as_table_content'>
            {%if messages%}
                {%for message in messages%}
                    <tr >
                        <td>
                            Entreprise
                        </td>
                        <td>
                            {{message.to}}
                        </td>
                        <td>
                            {{message.dateSent |date('d-m-Y H:i:s')}}
                        </td>
                        <td>
                            {{message.price}}
                        </td>
                        <td>{{message.status}}</td>                       
                    </tr>
                {%endfor%} 
            {%endif%} 

        </tbody>
    </table>
</div> 