<div class="copyright">
    <div class="five wide column center aligned">
        <div class="ui inverted" style="font-size: 9pt"><b>&copy;2017 - <a class="link_siogive_footer" href="http://www.siogive.com" target="_blank">société d'ingénierie OGIVE<sup style="font-size: 8pt">&reg;</sup></a> - Tous droits réservés</b></div>
    </div>
</div>