<div class="ui vertical accordion following inverted sidebar menu">
    <div class="sidebar_title item">
        Alert M.P
    </div>
    <div class="item">
        <div class="title">Procedures <i class="dropdown icon"></i></div>
        <div class="content menu">
            <a href="#" class="item">Appels d'offre</a>
            <a href="#" class="item">Resultats</a>
            <a href="#" class="item">Manifestation d'intérêt</a>
            <a href="#" class="item">Additif</a>
        </div>
    </div>
    <div class="item">
        <div class="title"><a href="#">Domaines</a></div>
    </div>
    <div class="item">
        <div class="title"><a href="#">Entreprises</a></div>
    </div>
    <div class="item">
        <div class="title"><a href="#">Abonnements</a></div>
    </div>
    <div class="item">
        <div class="title"><a href="#">Abonnés</a></div>
    </div>

    <div class="item">
        <div class="title"><a href="#">Suivis spécialisés</a></div>
    </div>
    <div class="item">
        <div class="title">Historiques <i class="dropdown icon"></i></div>
        <div class="content menu">
            <a href="#" class="item">SMS</a>
            <a href="#" class="item">Mails</a>
        </div>
    </div>
</div>