<p style="font-size: 12.8px; margin-bottom: 1em;">{{content}}</p><br>
<p style="font-size: 12.8px; margin-bottom: 1em;"><a href="http://www.tenders-infos.com">TENDERS INFOS</a> vous remercie pour votre confiance.</p>
<p><a href="https://www.tenders-infos.com"><img src="{{absolute_url(asset('bundles/ogivealert/images/large_logo_2.PNG'))}}" style="width: 450px;"></a></p>
<p style="font-size: 12px; margin-bottom: 1em; color: grey">Siège social: Yaoundé, BP: 5253, Situé à la Nouvelle route Bastos face Ariane TV Rue N°1839</p>
<p style="font-size: 12px; margin-bottom: 1em; color: grey" >Site web: <a href="https://www.tenders-infos.com">www.tenders-infos.com</a>, Email: <a href="mailto:contact@tenders-infos.com">contact@tenders-infos.com </a>/<a href="mailto:siogivesas@gmail.com">siogivesas@gmail.com</a>,  Tel: (+237)243804388/(+237)243803895</p>