<p style="font-style: italic; font-size: 12.8px; margin-bottom: 1em;">{{content}}</p><br>
<p style="font-style: italic; font-size: 12.8px; margin-bottom: 1em;">SI OGIVE vous remercie pour votre confiance.</p>
<p><a href="http://www.siogive.com"><img src="{{asset('bundles/ogivealert/images/large_logo_ogive.png')}}" style="width: 450px;"></a></p>
<p style=" font-size: 12px; margin-bottom: 1em; color: grey">Siège social: Yaoundé, BP: 5253, Situé à la Nouvelle route Bastos face Ariane TV Rue N°1839</p>
<p style=" font-size: 12px; margin-bottom: 1em; color: grey" >Site web: <a href="http://www.siogive.com">www.siogive.com</a>, Email:  contact@siogive.com,  Tel: (+237)243804388/(+237)243803895</p>